@{
    ViewBag.Title = "Acceso";
}
Hola, veo que estas montanto tu propio servidor de mensajes para whatsapp<br />
Necesitas usar: <a  target="_blank" href="https://github.com/tangentemexico/whatsapp_api_node"> https: //github.com/tangentemexico/whatsapp_api_node </a>

<a target="_blank" href="https://tangentemexico.com">
    <img src="~/tangente_rgb_negativo.png" style="width:100%" />
</a>

<br />
<br />
Recuerda, este cógigo esta disponible en:
<a href="https://github.com/tangentemexico/whatsapp_api_dotnet" target="_blank">
    https://github.com/tangentemexico/whatsapp_api_dotnet
</a>

