@{
    ViewData["Title"] = "NuevoPassword";
    Layout = "~/Views/Shared/Layout_login.cshtml";

    String pwd_debil = Mgk.Base.Parametro.ParametroCtrl.GetValueBool("g_pwd_debil", false).Value ? "true" : "false";
}

<h2>Asignar nueva contraseña</h2>

<div id="apps">
    {{mensaje}}
    <hr />
    <div v-if="numero>0">
        <div class="form-group row">
            <label for="inputPassword1" class="col-xl-2 col-form-label">Nueva contraseña</label>
            <div class="col-xl-2">
                <input type="password" class="form-control" id="inputPassword1" placeholder="******" v-model="pwd1">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword2" class="col-xl-2 col-form-label">Confirmar contraseña</label>
            <div class="col-xl-2">
                <input type="password" class="form-control" id="inputPassword2" placeholder="******" v-model="pwd2">
            </div>
        </div>
        <div class="form-group row">
            <i><strong>Contraseña segura:</strong> Longitud mínima de 6 caracteres, debe incluir al menos un dígito, una mayuscula y una minuscula</i>
        </div>

        <div class="form-group row">
            <div class="offset-xl-2 col-xl-2">
                <button type="button" class="btn btn-primary" v-on:click="actualizarPassword">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var NuevoP=new Vue({
        el: '#apps',
        data: {
            numero:0,
            mensaje: 'Procesando, por favor espere...',
            pwd1: '',
            pwd2:'',
            pwd_debil: @pwd_debil,
            token:'@ViewBag.token'
        },
        mounted() {
            this.validarToken();
        },
        methods: {

            validarToken() {
                axios.post(url_base + "api/AAcceso/ValidarActualizarPassword",
                    { Token: this.token}, {
                    headers: { 'content-type': 'application/json' }
                }).then(response => {
                    console.log("Respuesta:... ");
                    console.log(response.data);
                    this.mensaje = "Escriba nueva contraseña";
                    if (response.data.Number<0)
                        this.mensaje = response.data.Message;
                    this.numero = response.data.Number;

                }).catch(error => {
                    console.log("-------- ERROR 1EnviarVue---------");
                    console.log(error)
                });
            },

            actualizarPassword() {

                if (this.pwd1 != this.pwd2) {
                    Swal.fire("Introduce el mismo password");
                    return;
                }

                if (this.pwd1 != "") {

                    if (this.pwd1.length < 6) {
                        Swal.fire("Longitud mínima de 6 caracteres");
                        return;
                    }
                    if (this.pwd_debil == false) {
                        let regex = /^(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ]/;
                        if (!regex.test(this.pwd1)) {
                            Swal.fire("No cumple la regla de contraseña segura");
                            return;
                        }
                    }
                }

                axios.put(url_base + "api/AAcceso/ActualizarPassword",
                    {
                        Usuario_id: this.token,
                        Password: this.pwd1
                    },
                    {
                        headers: { 'content-type': 'application/json' }
                    }).then(response => {
                        console.log(response.data);
                        this.mensaje = "Escriba nueva contraseña";
                        if (response.data.Number >= 0) {
                            document.location = url_base;
                            return;
                        }

                        this.mensaje = response.data.Message;
                    }).catch(error => {
                        console.log("-------- ERROR 2EnviarVue---------");
                        console.log(error)
                    });
            }
        }
    });
</script>